#ctx {
    border: 1px solid #000000;
}

#chat-text {
    width: 500px;
    height: 100px;
    overflow-y: scroll;
}

#chat-input {
    width: 500px;
}

:focus {
  outline-style: none;
  outline-color: transparent;
}


#ctx,
#ctx-ent,
#ctx-lay {
  position: absolute;
  border: 1px solid black;
}

#ctx {
  background-color: black;
}

#game {
  position: absolute;
  width: 1300px;
  height: 100px;
}

#scoreboard {
  position: absolute;
  background-color: #ffffff4f;
  border: 1px solid black;
  padding: 5px;
  top: 8px;
  border-bottom-right-radius: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  pointer-events: none;
}

.title{
  border-bottom: 1px solid black;
  color: #f57070;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 10px;
}

td{
  text-align: center;
}

.player-score, .player-name{
  font-size: 20px;
}

#signDiv{
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#signDiv-username{
  width: fit-content;
  height: 30px;
  font-size: 25px;
  border: 5px solid transparent;
  -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
  border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
  border-image-slice: 1;
}

#signDiv-username:focus {
  animation: glow 800ms ease-out infinite alternate;
  outline: none;
}

@keyframes glow {
    0% {
      box-shadow: 0 0 5px #3acfd5;
    }
    100% {
      box-shadow: 0 0 20px #3a4ed5;
    }
}

#eliminations {
  position: absolute;
  background-color: black;
  font-size: 20px;
  right: 0px;
  padding-left: 5px;
  padding-right: 5px;
  top: 8px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  pointer-events: none;
}

.log{
  color: white;
}

.elim{
  color: red;
}

.message{
  position: relative;
  display: flex;
  color: white;
  width: 100%;
  font-size: 35px;
  justify-content: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  top: 5%;
  pointer-events: none;
}