#ctx {
    border: 1px solid #000000;
}

#chat-text {
    width: 500px;
    height: 100px;
    overflow-y: scroll;
}

#chat-input {
    width: 500px;
}


#ctx,
#ctx-ent {
  position: absolute;
  border: 1px solid black;
}

#ctx {
  background-color: black;
}

#game {
  position: absolute;
  width: 1300px;
  height: 100px;
}

#scoreboard {
  position: absolute;
  background-color: #ffffff4f;
  border: 1px solid black;
  padding: 5px;
  top: 8px;
  border-bottom-right-radius: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}

.title{
  border-bottom: 1px solid black;
  color: #f57070;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 10px;
}

td{
  text-align: center;
}

.player-score, .player-name{
  font-size: 20px;
}


#eliminations {
  position: absolute;
  color: white;
  background-color: black;
}

.message{
  position: absolute;
  color: white;
  font-size: 25px;
}