html,
body {
  overflow: hidden;
  background-color: black;
}

#ctx {
  border: 1px solid #000000;
}

#chat {
  pointer-events: none;
  position: absolute;
  bottom: 0px;
  left: 8px;
  color: #c20114;
  background-color: rgb(0, 0, 0);
  /* Fallback for older browsers without RGBA-support */
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

#chat:focus-within {
  pointer-events: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

#chat-text {
  width: 500px;
  height: 100px;
  overflow-y: scroll;
  padding: 5px;
}

#chat-text::-webkit-scrollbar {
  display: none;
}

#chat-input {
  width: 500px;
  font-size: 15px;
  opacity: 0.4;
}

#chat-input:focus {
  opacity: 1;
}

:focus {
  outline-style: none;
  outline-color: transparent;
}


#ctx,
#ctx-ent,
#ctx-lay {
  position: absolute;
  border: 1px solid black;
}

#button-div {
  position: absolute;
  width: 1500px;
  height: 900px;
}

#ctx {
  background-color: black;
}

#game {
  position: absolute;
}

#scoreboard {
  position: absolute;
  background-color: #ffffff4f;
  border: 1px solid black;
  padding: 5px;
  border-bottom-right-radius: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  pointer-events: none;
}

.title {
  border-bottom: 1px solid black;
  color: #f57070;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 10px;
}

td {
  text-align: center;
}

.player-rank,
.scoreboard-names,
.player-score,
.player-name {
  font-size: 25px;
}


#pvp-button {
  position: absolute;
  right: 8px;
  bottom: 8px;
  color: white;
  background-color: red;
  font-size: 30px;
  border-radius: 10px;
}

#signDiv {
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#signDiv small {
  color: #F2D0A4;
  font-size: 14px;
}

#signDiv span {
  color: #F2D0A4;
  font-size: 20px;
}

img {
  width: 800px;
}

#signDiv-username {
  width: fit-content;
  height: 30px;
  font-size: 25px;
  border: 5px solid transparent;
  -moz-border-image: -moz-linear-gradient(top, #D85D69 0%, #C20114 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #D85D69 0%, #C20114 100%);
  border-image: linear-gradient(to bottom, #D85D69 0%, #C20114 100%);
  border-image-slice: 1;
}

#signDiv-username:focus {
  animation: glow 800ms ease-out infinite alternate;
  outline: none;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #F2D0A4;
  }
  100% {
    box-shadow: 0 0 20px #F2D0A4;
  }
}

#eliminations {
  position: absolute;
  background-color: black;
  background-color:  rgba(0, 0, 0, 0.8);
  font-size: 20px;
  right: 0px;
  padding-left: 5px;
  padding-right: 5px;
  top: 8px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  pointer-events: none;
}

.counter {
  position: absolute;
  display: flex;
  color: white;
  width: 100%;
  font-size: 35px;
  justify-content: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  top: 15%;
  pointer-events: none;
}

.log {
  color: white;
}

.elim {
  color: red;
}

.message {
  position: absolute;
  display: flex;
  color: white;
  width: 100%;
  font-size: 35px;
  justify-content: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  top: 25%;
  pointer-events: none;
}